/**
  |============================
  | Comon styles
  |============================
*/
:root {
    --first-basic-color: #FFFFFF;
    --second-basic-color: #2E2F42;
    --third-basic-color: #434455;
    --fourth-basic-color: #F4F4FD;
    --butn-logo-color: #4D5AE5;
    --active-color: #404BBF;
    --modal-windov-color: #8E8F99;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: var(--third-basic-color);
    background-color: #FFFFFF;
}
/**
  |============================
  | reset stile
  |============================
*/

h1, h2, h3, h4, h5, h6 ,p {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    cursor: pointer;
}

.button {
    font-family: inherit;
    cursor: pointer;
}



.list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--second-basic-color);
    margin-bottom: 8px;
}

.list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.link-icon {
    fill: var(--first-basic-color);
}

/**
  |============================
  | Header Block
  |============================
*/
.header {
    background: var(--first-basic-color);
    border: 1px solid #E7E9FC;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: 'Raleway' ,sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: var(--butn-logo-color);
    margin-right: 76px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-text-span {
    color: var(--second-basic-color);
}

.header-nav {
    display: flex;
    align-items: center;
    
}
    
.header-nav-link-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-nav-item {
    
}
    

.header-nav-link {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-basic-color);
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color var(--transition);
}
.active {
    color: #404bbf;
}

.header-nav-link.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    position: absolute;
    bottom: -1px;
    left: 0;
}

.header-nav-link:hover,
.header-nav-link:focus {
    color: #404bbf;
}

.header-adress {
    font-style: normal;
    margin-left: auto;
}

.header-adress-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-adress-item {
    
}

.header-adress-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--third-basic-color);
    transition: color var(--transition);
}
.header-adress-link:hover,
.header-adress-link:focus {
    color: var(--active-color);
}
/**
  |============================
  | Hero section 
  |============================
*/
.hero-section {
    background: var(--second-basic-color);
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    height: 600px;
}

.hero-container {
    
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--first-basic-color);
    max-width: 496px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}

.button-hero {
    display: block;
    background: var(--butn-logo-color);
    color: var(--first-basic-color);
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    box-shadow: 0px 4px 4px 0px, rgba(0, 0, 0, 0.15);
    transition: background-color var(--transition);
}

.button-hero:hover,
.button-hero:focus {
    background-color: var(--active-color);
    box-shadow: 0px 4px 4px 0px, rgba(0, 0, 0, 0.15);
}
/**
  |============================
  | Description section
  |============================
*/

.deskr-section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.deskr-icon-list-container {
    display: flex;
    gap: 24px;
    margin-bottom: 8px;
}

.deskr-icon-item {
    width: 264px;
    height: 112px;
    background-color: var(--fourth-basic-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.deskr-icon {
    align-items: center;
    justify-content: center;
}

.deskr-list-container {
    display: flex;
    gap: 24px;
}

.deskr-list {}

.deskr-list-item {
    width: calc((100% - 72px) /4);
}


/**
  |============================
  | What are we doing section
  |============================
*/
.doing-section {
    padding-bottom: 120px;
}

.doing-section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--second-basic-color);
    margin-bottom: 72px;
}

.doing-section-list {
    display: flex;
    gap: 24px;
}

.doing-section-item {}

.doing-section-img {}
/**
  |============================
  | Team section
  |============================
*/
.team-section {
    background: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--second-basic-color);
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-list-item {
    background: var(--first-basic-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.text-list-img {
    gap: 8px ;
    padding: 32px 0 ;
    text-align: center;
}

.team-list-img {}

.icon-container {
    display: flex;
}

.icon-list {
    display: flex;
    gap: 24px;
    margin-top: 8px;
    justify-content: center;
}

.icon-list-item {
    
}
.link-icon {
    fill: var(--fourth-basic-color);
}

.icon-list-link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--butn-logo-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition);
}

.icon-list-link:hover,
.icon-list-link:focus {
    background-color: var(--active-color);
}

/**
  |============================
  | Customers section
  |============================
*/
.customer-section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.customer-title {
    font-size: 36px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: var(--second-basic-color);
    margin-bottom: 72px;
    line-height: 1.11;
}

.customer-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.customer-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 168px;
    height: 88px;
}

.svg-icon-customer {
    fill: currentColor;
    transition: color var(--transition);
}

.svg-icon-customer:hover,
.svg-icon-customer:focus {
    fill: var(--active-color);
}

.customer-link {
    border-radius: 4px;
    border: 1px solid #8E8F99;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #8E8F99;
}
.customer-link:hover,
.customer-link:focus {
    border: 1px solid var(--active-color);
    color: var(--active-color);
}
/**
  |============================
  | Portfolio page
  |============================
*/
.list-services {
    padding-top: 96px;
    padding-bottom: 120px;
}

.section-prt-container {
    
}

.button-porfolio {
    background: #F4F4FD;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--butn-logo-color);
    letter-spacing: 0.04em;
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid #E7E9FC;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-servises-list {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content:center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    
}

.button-porfolio:hover,
.button-porfolio:focus {
    background-color: var(--active-color);
    color: var(--first-basic-color);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px ;
    row-gap: 48px;
}

.services-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--second-basic-color);
    margin-bottom: 8px;
}

.services-list-width {
    width: calc((100% - 48px) /3);
    
}
.services-list-link {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
}
.portfolio-list-img {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
    border: 1px solid #E7E9FC;
    border-top: none; 
}


.overlay {
    position: relative;
    overflow: hidden;
}

.overlay-text {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex-shrink: 0;
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    background-color: #4d5ae5;
    align-items: center;
    text-align: center;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.services-list-link:hover .overlay-text,
.services-list-link:focus .overlay-text {
    transform: translateY(0);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.services-list-link:hover,
.services-list-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/**
  |============================
  | Footer block
  |============================
*/
.footer {
    background: var(--second-basic-color);
    padding-top: 100px;
    padding-bottom: 100px;
}


.footer-container {
    display: flex;
    align-items: baseline;
}
.footer-logo-container {
    margin-right: 120px;
}

.footer-logo {
    font-family: 'Raleway',sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--butn-logo-color);
    margin-bottom: 16px;
    display: inline-block;

}
 
.footer-logo-span {
    color: #F4F4FD;
}


.fotter-text {
    margin-top: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    width: 264px;
}
.footer-title {
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: var(--first-basic-color);
    margin-bottom: 16px;
    
}

.footer-icon-container {
   margin-right: 80px;
}
.footer-icon-list {
    display: flex;
    gap: 16px;
}

.footer-list-link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--butn-logo-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition);
}

.footer-list-link:hover,
.footer-list-link:focus {
    background-color: #31D0AA;
}

.form {
    display: flex;
    gap: 24px;
}

.footer-btn {
    display: flex;
    min-width: 165px;
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: var(--butn-logo-color);
    color: var(--first-basic-color);
    border: none;
    height: 40px;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.footer-btn-icon {
    margin-left: 16px;
    fill: var(--first-basic-color);
}

.form-input-footer {
    border-radius: 4px;
    border: 1px solid var(--first-basic-color);
    color: var(--first-basic-color);
    width: 264px;
    height: 40px;
    flex-shrink: 0;
    margin-right: 24px;
    background-color: transparent;
    outline: transparent; 
    padding: 8px 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    letter-spacing: 0.04em;
    line-height: 1.5;
    font-size: 12px;
}

.form-input-footer::placeholder {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.48px;
    color: var(--first-basic-color);
}

/**
  |============================
  | Modal styles
  |============================
*/
.backdrop {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden  {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    padding: 72px 24px 24px 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    background-color: #FCFCFC;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 50%;
    background-color: #E7E9FC;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: currentColor;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    padding: 0;
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--active-color);
    color: #FFFFFF;
    border: none;
}

.modal-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list-link:hover,
.footer-list-link:focus {
    background-color: #31D0AA;
}

.modal-label-container {
    margin-bottom: 8px;
}

.modal-text {
    margin-bottom: 16px;
    width: 360px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: var(--second-basic-color);
    text-align: center;
}

.form-modal {

}

.modal-form-filed {
    display: block;
    position: relative;
    line-height: 1.17; 
    letter-spacing: 0.04em;
    font-size: 12px;
    color: var(--modal-windov-color);
    margin-bottom: 4px;
}

.modal-input-container {
    display: block;
    position: relative;
}

.modal-form-input {
    padding: 11px 38px;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    outline: transparent;  
    font-size: 18px;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-icon {
    top: 50%; 
    transform: translateY(-50%);
    position: absolute;
    bottom: 8px;
    left: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
    border: 1px solid var(--butn-logo-color);
}

.modal-form-input:focus + .modal-form-icon {
    fill: var(--butn-logo-color);
}

.modal-form-textarea {
    display: block;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    outline: transparent;
    resize: none;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4); 
    background-color: transparent; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.modal-form-textarea::placeholder {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.48px;
    color: rgba(46, 47, 66, 0.40);
}
.modal-form-textarea:focus {
    border: 1px solid var(--butn-logo-color);
}

.modal-send-btn {
    min-width: 169px;
    display: block;
    padding: 16px 32px;
    border-radius: 4px;
    background: var(--butn-logo-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    color: var(--first-basic-color);
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-agreement { 
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-left: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    width: 100%;
}

.modal-form-checkbox {
    
}

.modal-form-custom-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.40);
}
.modal-form-checkbox:checked + .modal-form-custom-checkbox {
    border-color: var(--active-color);
    background-color: var(--active-color);
}

.modal-form-checkbox-icon {
    opacity: 0;
    fill: var(--first-basic-color);
}
.modal-form-checkbox:checked + .modal-form-custom-checkbox > .modal-form-checkbox-icon {
    opacity: 1;
}

.modal-label-checkbox-container {
    margin-bottom: 24px;
    display: flex;
    width: 338px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.48px;
    color: var(--modal-windov-color);
}

.modal-form-link {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.48px;
    color: var(--butn-logo-color);
}